<h2>The whole list of {{products.type}}s</h2>
<p>Please choose a product and press the Buy button</p>
<ul>
  <li *ngFor="let product of products">
    <span class="name">{{product.name}} </span>
    <span class="name">{{product.description}} </span>
    <span class="name">{{product.isAvailable}} </span>
    <span class="name">{{product.price}}</span>
    <span class="name">{{product.category}}</span>
    <!-- Не встретил метода onBuy в классе -->
    <button click="onBuy(product)">Buy goods</button>
  </li>
</ul>
